<div class="navbar-container">
  <span class="nav-links"><a href="#">Le Lieu</a></span>
  <span class="nav-links"><a href="#">Ecole</a></span>
  <span class="nav-links"><a href="#">Bapteme</a></span>
  <span class="nav-links"><a href="#">Boutique</a></span>
  <span class="nav-links"><a href="#">Atelier</a></span>
</div>


<video width="100%" height="auto" autoplay class="video-banner">
  <source src="http://www.parapente05.com/video-home.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

Vous désirez avoir la sensation de glisser harmonieusement dans les airs, d’entendre le vent murmurer dans vos oreilles, de découvrir le paysage autrement, d’être libre de la gravité, ...

Le parapente, né dans les années 70 et depuis en permanente évolution, vous offre cette possibilité. Il s’agit d’un profil souple, une voile gonflable, à plusieurs caissons, équipé d’une sellette qui permet de rester assis confortablement durant le vol. Les ailes deviennent de plus en plus performantes et correspondent aux normes de sécurités les plus strictes.

Leonardo Da Vinci en rêvait déjà, aujourd’hui c’est une aventure accessible à tous. En biplace ou sous forme de stage avec un apprentissage rapide, à la fois sûr et efficace, adapté à chaque individu, le parapente vous ouvre la porte du monde magique du vol libre.
