<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="studentRego" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="streetAddress">Addresse</label>
            <input
                    type="text"
                    id="streetAddress"
                    class="form-control"
                    formControlName="streetAddress">
        </div>
        <div class="form-group">
            <label for="cityZip">Ville et Code Postal</label>
            <input
                    type="text"
                    id="cityZip"
                    class="form-control"
                    formControlName="cityZip">
        </div>
        <div class="form-group">
            <label for="mobileNumber">Telephone portable</label>
            <input
                    type="text"
                    id="mobileNumber"
                    class="form-control"
                    formControlName="mobileNumber">
        </div>
        <div class="form-group">
            <label for="dob">Date de naissance</label>
            <input
                    type="date"
                    id="dob"
                    class="form-control"
                    formControlName="dob">
        </div>
        <div class="form-group">
            <label for="bodyWeight">Poids(Kg)</label>
            <input
                    type="number"
                    id="bodyWeight"
                    class="form-control"
                    formControlName="bodyWeight">
        </div>
        <div class="form-group">
            <label for="priorExperience">Mon experience (nombre de vols)</label>
            <input
                    type="number"
                    id="priorExperience"
                    class="form-control"
                    formControlName="priorExperience">
        </div>
        <div class="form-group">
            <label for="priorThangkaTraining">Nombre de stage deja effectues chez Thang-ka</label>
            <input
                    type="number"
                    id="priorThangkaTraining"
                    class="form-control"
                    formControlName="priorThangkaTraining">
        </div>
        <div class="form-group">
            <label for="equipment">Je viens en stage avec...</label>
            <select
                    id="equipment"
                    class="form-control"
                    formControlName="equipment">
              <option value="none">le sourire mais sans materiel</option>
              <option value="some">mon materiel personnel incomplet</option>
              <option value="all">mon materiel complet homologue en bon etat (voile, sellette, secours, radio, casque)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="voucher">J'ai un bon d'avoir de... (nombre de jours)</label>
            <input
                    type="number"
                    id="voucher"
                    class="form-control"
                    formControlName="voucher">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>
