<h1>La meteo</h1>

<button><div routerLink="/" fragment="lieu"><a href="#lieu">Back</a></div></button>

<!-- les vents -->
<iframe src="https://earth.nullschool.net/#current/wind/surface/level/orthographic=-356.41,45.32,1576" class="vent-france"></iframe>

<!-- meteo locale -->
<div class="forecast-dienne">
  <div class="forecast-dienne-banner"> Meteo / Previsions Dienne</div>
  <iframe seamless width="100%" height="336" class="forecast-dienne-iframe" frameborder="0" src="http://www.infoclimat.fr/public-api/mixed/iframeSLIDE?_ll=45.1614957,2.7764246&_inc=WyJQYXJpcyIsIjQyIiwiMjk4ODUwNyIsIkZSIl0=&_auth=VE5eSQN9AyFfcgcwVCJQeQJqUGUJf1N0An4FZgtuAH0GbQJjVDQAZl4wVypSfQYwV3pQM11mATELYAd%2FC3lWN1Q%2BXjIDaANkXzAHYlR7UHsCLFAxCSlTdAJlBWsLeABiBm0CY1QpAGBeNVcwUnwGMFdlUDNdfQEmC2kHZQtnVjFUM145A2gDZ18yB21Ue1B7AjRQYQkyU28CZgU0CzMAZwZiAjVUYwBmXjRXMFJ8BjpXYVAyXWoBOgtuB2kLYFYqVCheQwMTA3xfcAcnVDFQIgIsUGUJaFM%2F&_c=684aca55f1999b36c9013cc05a365da7">
  </iframe>
</div>
