<div>
  <div class="row">
    <div class="col-sm-2">
      <button 
      class="btn btn-info"
      (click)="decrement()">-</button>
    </div>
    <div class="col-sm-8">
      <h2>{{ monthTitle }}</h2></div>
    <div class="col-sm-2">
      <button 
      class="btn btn-info"
      (click)="increment()">+</button>
    </div>
  </div>
  
  <table>
    <th
      *ngFor="let day of days"
      class="day-header">
      {{ day }}
    </th>
    <tbody #tableBody>
    </tbody>
  </table>
</div>

<a routerLink="/stage/inscription">Fiche d'inscription</a>
