<article class="panel panel-default">
    <div class="panel-body">
        {{ training.content }}
    </div>
    <div class="panel-body">
        debute le: {{ training.startDate }}
    </div>
    <div class="panel-body">
        fini le: {{ training.endDate }}
    </div>
    <div class="panel-body">
        nombre max de participants: {{ training.maxParticipants }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ training.username }}
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>