<div class="odd-wrapper">
  <h1>Bapteme</h1>
  <p>Pour ceux qui rêvent de voler comme un oiseau, sans difficultés, de flotter en l’air sans moteur et sans formation quelconque, c’est le moment de se laisser emporter tranquillement par son pilote personnel qui vous fera découvrir les Monts du Cantal dans toute leur splendeur.</p>

  <p>Le baptême est une façon de découvrir la magie du parapente en toute sérénité avec un moniteur expérimenté. Vous êtes confortablement assis dans votre fauteuil volant pour découvrir le paysage splendide du volcan du Cantal d’en haut.
  C’est une sensation fantastique qui vous permet, sans aucune formation ou entraînement, de:
  <ul>
    <li>décoller en toute douceur, porté par le vent, sans aucune sensation de ’tomber’</li>
    <li>voler au-dessus de nos belles vallées glaciaires, autour du Puy Mary (Grand Site de France) avec des vues époustouflantes tout autour</li>
    <li>être libéré de la gravité, monter et descendre avec les courants d’air comme un oiseau, pendant que le vent murmure dans vos oreilles et vous caresse le visage</li>
    <li>rencontrer et voler avec les milans, les buses ou les circaètes dans leur milieu naturel et se glisser entre les nuages...</li>
    <li>observer les chamois, les cerfs, les chevreuils et d’autres animaux sauvages d’en haut, sans faire un bruit<li>
  </ul>
  <p>Des sensations fortes sont possibles si cela vous tente, sinon le moniteur vous fera passer un voyage hors du commun, rassurant et en toute douceur.</p>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Le déroulement
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Le rendez-vous se fait normalement à l’école de parapente à Drils (commune de Dienne entre Murat et le Puy Mary), au Bourg de Dienne sur le parking de la maison de site de Dienne, voir ailleurs selon l’heure ou les conditions.</p>
      <p>La montée sur les crêtes se fait le plus souvent en 4x4 où l’aventure commence déjà ! Pendant la haute saison, vous partez ensemble avec les participants aux stages. Vous échangez avec eux pendant la montée et observez comment se passe leur formation, leurs décollages, etc.</p>
      <p>Après une petite marche d’approche pour se réchauffer, tout le monde arrive au site de décollage. Parfois nous sommes obligés d’attendre au décollage les conditions optimales pour le vol. C’est astucieux de prévoir un bon coupe-vent et des vêtements chauds.</p>
      <p>Votre moniteur vous explique les bons gestes pour le décollage, il prépare sa voile et vous installe dans votre sellette. Vous avez même droit à un casque qui vous va à merveille, même si la couleur ne se marie pas forcément avec celle de votre veste ! </p>
      <p>On se concentre, on se prépare, on ne va surtout pas s’assoir trop vite au décollage et hop, c’est parti ! Le décollage, cet instant ou les pieds quittent le sol, est toujours un moment magique qu’on sent forcément dans le bide. </p>
      <p>Décontractez-vous : la voile est bien au-dessus, le moniteur contrôle complètement sa machine, le vent vous porte, c’est génial ! Il ne vous reste que de profiter de ces sensations douces ou fortes, selon vos envies. Le moniteur gère tout, vous êtes en vacances, régalez-vous!</p>
      <p>Pour l’atterrissage, la plupart du temps on retouche doucement, comme si on descendait d’une petite marche. Il est important quand même de bien sortir de la sellette pour se poser sur les pieds. C’est une question d’élégance pour impressionner vos admirateurs qui vous attendent en bas.</p>
      <p>Pour prolonger le plaisir et garder les meilleurs souvenirs, le moniteur vous offre la possibilité de réaliser une vidéo en HD de votre vol avec une caméra spécialisée ’activités sportives’. A demander avec la réservation du vol.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quand ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>Les baptêmes sont possibles entre début mai et fin septembre, tous les jours sauf le lundi matin et le dimanche.</p>
        <p>Le lieu de décollage et la durée du vol en parapente dépendent des conditions météo que nous ne contrôlons pas et qui sont parfois difficiles à prévoir.</p>
        <p>Nous essayons toujours de vous prévenir au plus vite, il est donc important d’avoir son portable à porté de mains avant le rendez-vous.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pour qui ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Les baptêmes en parapente sont accessibles à tous à partir de 6 ans et 30 kg, (si l’enfant fait la demande lui-même) et jusqu’à 100 kg.
      Une autorisation parentale écrite est obligatoire pour les mineurs</p>
      <p>Parapente biplace en fauteuil</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nous volons où ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>Il y une vingtaine de décollages différents autour du Puy Mary et du Puy de la Tourte, dans la vallée de la Santoire (en face de Dienne, au Rocher de Laqueuille ou à Engouniou, au-dessus de Dienne à Embec ou à Nozières), au Plomb du Cantal ou dans la vallée de Brezons.</p>
        <p>Nous cherchons toujours l’endroit idéal par rapport à la vitesse et la direction du vent : pour décoller il nous faut toujours un vent de face, donc nous ne pouvons pas dire en avance où le vol sera effectué. Le lieu se décide au dernier moment, juste avant de partir.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Le vol dure combien de temps ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>La durée du vol dépend du vent et des thermiques qui nous permettent de rester en l’air ou pas. N’ayant pas de moteur nous ne pouvons pas dire en ’avance combien de temps le vol durera. Souvent ce sera entre 10 et 25 minutes.</p>
      <p>Si vous préférez des conditions calmes, réservez plutôt votre vol tôt le matin ou plus tard le soir. Si vous cherchez plus de sensations, réservez plutôt vers 11h ou l’après-midi.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          A prevoir
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>Chaussures montantes pour la marche d’approche et pour vous tenir les chevilles sur le terrain inégal
        <ul>
          <li>Vêtements chauds pour le vol et / ou l’éventuel attente au décollage : pantalon long, petits gants, pull et veste légère ou coupe vent, parce qu’il y a toujours du vent en l’air, même s’il fait chaud en bas.</li>
          <li>Crème solaire, protection pour la tête, lunettes de soleil.</li>
          <li>De l’eau et une barre céréale en cas d’attente sur le terrain</li>
          <li>Vous pouvez emmener un appareil photo ou caméra, prévoyez bien un moyen de le clipser à la sellette.</li>
          <li>Si vous êtes sensible au mal de voyage, n’hésitez pas à prendre la médication nécessaire 1h avant le vol pour éviter de devenir malade en vol (pour rester dans les thermiques le pilote est obligé de tourner régulièrement).</li>
          <li>Laissez en bas tout ce que vous pouvez perdre : les clefs, le portable, le portefeuille, ...</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Les accompagnants
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>Sur la plupart des sites vous allez attendre le passager à l’atterrissage, ce qui vous permettra de le suivre tout au long de son vol.</p>
        <p>Vous suivez le véhicule de Thang-ka en voiture et les moniteurs vous indiqueront l’endroit le plus propice pour attendre.</p>
        <p>Selon le site et les conditions météo, l’attente peut être plus au moins longue. Prévoyez normalement à peu près 2 heures entre le départ et l’atterrissage. Cela peut être plus si les conditions ne sont pas de suite favorables au vol.</p>
        <p>Sur certains sites, des bancs et / ou des parasols sont prévus mais pas partout, prévoyez ce qu’il faut, surtout avec des enfants.</p>
        <p>N’oubliez pas la crème solaire, éventuellement un petit parasol, le casse-croûte, de l’eau, des jeux, un livre</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tarifs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>Rajoutez 20 € si vous voulez faire la vidéo en HD pendant le vol.</span>

      <p>Le payement se fait à l’atterrissage après le vol. Étant sur le terrain, nous ne pouvons pas prendre des payements par carte bancaire. Prévoyez des espèces, un chèque ou des chèques vacances.</p>

      <p>Réduction de 10 % pour les groupes à partir de 6 personnes. Merci de nous contacter bien en avance pour faciliter l’organisation.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
