<h1>L'equipe</h1>
A nouveau cette année, une équipe formidable est à votre disposition pour l’encadrement, la formation et pour vous conseiller par rapport au matériel de vol libre (essai, achat...).
Il s’agit d’une équipe de moniteurs professionnels et passionnés venant de tous les coins de la France et de la Belgique, réunis pour partager avec vous leurs compétences et leur bonne humeur.
<div class="equipe-container">
  <div class="equipe-portrait">Jo</div>
  <div class="equipe-portrait">Vinch</div>
  <div class="equipe-portrait">Romain</div>
  <div class="equipe-portrait">Dede</div>
  <div class="equipe-portrait">Elsje</div>
  <div class="equipe-portrait">Pafke</div>
</div>

<h2>Origine</h2>
<p>Au Tibet, un "thang-ka" représente une peinture en mouvement, un tableau mobile, tel le paysage qui nous glisse sous les pieds quand nous planons dans le grand bleu du ciel. C’est le vent qui anime ces tissus et qui porte leurs messages. Ainsi, les profils de nos ailes sont animés et portés par ce vent qui nous emmène et nous donne une entière sensation de liberté.</p>
<p>THANG-KA, école de parapente, d’ULM pendulaire et de Cage de pilotage, est née en 1998 au pays des grands espaces dans le Massif central. Nous sommes situés au centre des volcans d’Auvergne, dans le village pittoresque de Dienne. Avec leur relief doux et leurs pentes herbeuses à perte de vue, les monts du Cantal se prêtent merveilleusement bien à toutes les activités aériennes, comme le parapente, la Cage de pilotage, l’ULM pendulaire et le paramoteur.</p>
<p>Après plus de 20 ans d’expérience, nous avons développé un enseignement équilibré qui laisse la place à l’émerveillement et aux sensations nouvelles, tout en assurant un apprentissage efficace des techniques de pilotage. Nous voulons former de bons pilotes, responsables et surs, mais aussi sensibles à la magie du vol.

Nous sommes heureux de vous faire rêver sur notre site, en attendant de voler ensemble au-dessus du massif cantalien. Nous vous proposons des découvertes et des formations diverses, permettant à chacun de vous de réaliser l’un des plus beaux rêves de l’homme : voler.</p>

<h2>Notre focus</h2>
  <p>Les mots clefs chez Thang-ka sont sécurité, efficacité et convivialité. Nous formons des pilotes responsables et complètement autonomes avec une connaissance approfondie du domaine de vol, de la météorologie et de la réglementation. Les cours théoriques accompagnent naturellement l’évolution pratique. </p>
  <h3>La securite</h3>
    <p>Nous travaillons à la fois sur la sécurité active et passive.
    La meilleure garantie pour une pratique du parapente en toute sécurité est un pilote autonome et responsable.
    Nous y sommes attentifs dès la pente-école (les pente-écoles autour de Dienne sont nombreuses, larges et douces !).
    Nous laissons chacun suivre son rythme : personne n’est poussé de la montagne... Vous décollerez vous-mêmes, assisté par votre moniteur, quand vous serez prêt.
    Durant chaque vol (petit ou grand) les stagiaires sont suivis (contacts visuel et radio) par leurs moniteurs, du décollage jusqu’à l’atterrissage.</p>
  <h3>Des petits groupes</h3>
    <p>Pour le bon déroulement des formations nous travaillons avec des petits groupes dont l’encadrement est assuré par des moniteurs professionnels. Chacun peut ainsi progresser à son propre rythme et est suivi individuellement. </p>
  <h3>Les lieux de vol</h3>
    <p>Des pentes douces et herbeuses pour des décollages tranquilles...
    De grands terrains au milieu de la vallée pour des atterrissages sereins...
    La plupart des décollages se trouvent à proximité, autour du Puy Mary et dans la vallée de Dienne. Ils ont différentes orientations (cela nous permet de nous adapter aux conditions météo) et un dénivelé variable : de 250 à 800 m.
    Ils se prêtent très bien pour des heures de soaring et les vols en thermique autour du massif.</p>
  <h3>Le materiel</h3>
    <p>Nous accordons beaucoup d’importance à la sécurité en général. Le matériel utilisé (voiles, sellettes, parachutes de secours, casques et radios) est neuf ou très récent.
    Les voiles sont toutes homologuées et si on les utilise plus que 2 ans, elles sont révisées chaque année par un centre officiel.
    Les sellettes, parachutes de secours et casques sont homologués et correspondent strictement aux normes de sécurité.
    Le matériel est adapté au niveau et à l’évolution de chaque stagiaire.</p>
  <h3>Des journees bien remplies</h3>
    <p>Nos formations se déroulent sur des journées bien complètes.
    Une journée type commence par le RDV à l’école à 9h.
    Après une analyse météo nous allons sur le terrain pour des exercices pratiques jusqu’à 12h30 (ou plus...)
    Une longue pause à midi permet à chacun de manger, de se reposer ou de découvrir le coin.
    Vers 16h nous recommençons avec un cours théorique (1h à 1h30) suivi d’une nouvelle séance pratique jusqu’à 21h (ou plus...).
    Ces horaires sont bien sûr indicatifs et nous les adaptons en fonction des conditions météo et des demandes du groupe.</p>
  <h3>La bonne ambiance</h3>
    <p>Nous souhaitons que tout le monde passe une semaine de vacances magique chez nous. Rire est aussi important que voler et l’esprit d’équipe n’est pas un vain mot. Vous ne seriez pas le premier à avoir trouvé une bande de copains après une semaine "Thang-ka" !</p>
